.vscode/
.venv/
.github/
.gitmessage.txt
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
.env.*
*.egg-info/
dist/
build/
*.egg
.idea/
.vscode/
*.iml
*.swp
*.swo
*.bak
*.orig
*.tmp
*.~*
*.class
*.jar
*.war
*.ear